<div class = "container">
	<div class = "row">
		<div class = 'col-xs-6 col-xs-offset-3'>
	    <h4>Existing Users</h4>
    	<form class = "login" ng-submit="login()">
          <input autocomplete="off" type="text" ng-model="loginForm.username" placeholder="Username"/>
          <input autocomplete="off" type="password" ng-model="loginForm.password" placeholder="Password"/>
          <input type="submit"/>
      </form>
			<div ng-show = "errmsg" class = "row">
				<h4 class = 'welcome-banner col-xs-4 animated fadeOut'>Oh no, wrong username/</h4>
			</div>
		</div>
	</div>

	<div class = "row">
		<div class = 'col-xs-6 col-xs-offset-3'>
      <h4>Register</h4>
      <form class = "login" ng-submit="signup()">
					<input type = "text" ng-model="signupForm.name" placeholder = "Name">
          <input autocomplete="off" type="text" ng-model="signupForm.username" placeholder="Username"/>
          <input autocomplete="off" type="password" ng-model="signupForm.password" placeholder="Password"/>
          <input type="submit"/>
      </form>
			<div ng-show = "userCreated"class = "row">
				<h4 class = 'welcome-banner col-xs-4 animated fadeOut'>User Created! Go ahead and log in!</h4>
			</div>
		</div>
  </div>
</div>



	<!-- <footer>
		<p>application developed and designed by Maxwell O'Roark 2016</p>
		<p>email : m.d.oroark@gmail.com
	</footer> -->
