<!DOCTYPE html>
	<html ng-app = "chess">
		<head>
			<!-- favicon! -->
			<link rel="icon" type="image/png" href="../images/favicon.png" sizes="36x36">

			<!-- favicons! -->
			<link rel="icon" type="image/png" href="/favicon.png" sizes="36x36">


			<!-- JAVASCRIPT -->
			<script src = 'https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js' type = 'text/javascript'></script>
			<script src = 'https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-route.min.js' type = 'text/javascript'></script>
			<script src = 'https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-animate.js' type = 'text/javascript'></script>
			<script src = 'https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js'></script>
			<script src = 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.js'></script>
			<script src = '../js/app.js' type = 'text/javascript'></script>
      <script src = '../js/authorization.js' type = "text/javascript"></script>

			<!-- Angular Controllers -->
      <script src = '../js/master-controller.js' type = 'text/javascript'></script>
			<script src = '../js/chess-controller.js' type = 'text/javascript'></script>
			<script src = '../js/match-maker-controller.js' type = 'text/javascript'></script>
			<script src = '../js/board.js' type = 'text/javascript'></script>
			<script src = '../js/library.js' type = 'text/javascript'></script>

			<!-- CSS -->
			<link href= '../css/spaceship.bootstrap.min.css' type = 'text/css' rel = 'stylesheet'>
			<link href = '../css/main.css' type ='text/css' rel = 'stylesheet'>
			<link href = '../css/animate.css' type = "text/css" rel = 'stylesheet'>

			<!-- LATO FONT -->
			<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

	</head>

  <body ng-controller = "master-controller">
      <!-- Pulls in a template and drops it inside of ng-include -->
  	  <ng-include src="'/partials/navbar.html'"> </ng-include>
      <div class="animated fadeIn" ng-view><!-- Template content will go here? --></div>

  </body>

</html>
